Converter/Wpf(UI)/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Converter" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_LinearMeasure_InputMessage">
    <wsdl:part name="parameters" element="tns:LinearMeasure" />
  </wsdl:message>
  <wsdl:message name="IService1_LinearMeasure_OutputMessage">
    <wsdl:part name="parameters" element="tns:LinearMeasureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CelsiusToFahrenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="IService1_CelsiusToFahrenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_FahrenheitToCelsius_InputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsius" />
  </wsdl:message>
  <wsdl:message name="IService1_FahrenheitToCelsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsiusResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="LinearMeasure">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LinearMeasure" message="tns:IService1_LinearMeasure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LinearMeasureResponse" message="tns:IService1_LinearMeasure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CelsiusToFahrenheit" message="tns:IService1_CelsiusToFahrenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CelsiusToFahrenheitResponse" message="tns:IService1_CelsiusToFahrenheit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/FahrenheitToCelsius" message="tns:IService1_FahrenheitToCelsius_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/FahrenheitToCelsiusResponse" message="tns:IService1_FahrenheitToCelsius_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Convert" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LinearMeasure">
      <soap:operation soapAction="http://tempuri.org/IService1/LinearMeasure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/IService1/CelsiusToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FahrenheitToCelsius">
      <soap:operation soapAction="http://tempuri.org/IService1/FahrenheitToCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Convert" binding="tns:Convert">
      <soap:address location="http://192.168.1.40:8733/Design_Time_Addresses/Convert" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>